<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/44448586-2d6e-4e4c-883f-f46db2d0debf/resourceGroups/HRM/providers/Microsoft.Web/sites/hrms-tdtu</ResourceId>
    <ResourceGroup>HRM</ResourceGroup>
    <ApiResourceId>/subscriptions/44448586-2d6e-4e4c-883f-f46db2d0debf/resourceGroups/HRM/providers/Microsoft.ApiManagement/service/HRMS-api/apis/HRMS</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://hrms-tdtu.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>294513a8-cb3c-4f87-849a-9f0122ddf6de</ProjectGuid>
    <MSDeployServiceURL>hrms-tdtu.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>hrms-tdtu</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>hrms-tdtu\$hrms-tdtu</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <TargetFramework>net7.0</TargetFramework>
    <SelfContained>false</SelfContained>
  </PropertyGroup>
</Project>